.bg-pink{
  
    background: #FFEFEF;


}
.button-gradient{
    background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
    border: 1px solid #FFEFEF;
    box-shadow: 10px 5px 5px rgba(94, 91, 91, 0.479);

}